/* .c{
  margin: 10px;
} */
p{
   font-size: medium; 
   font-family: 'Roboto Slab', serif;
    text-align: justify;
    margin: 30px;
    
}
.list {
  margin-left: 40px;
}

.structure{
    width: 35vw;
    margin: 20px;
}
@media (max-width: 960px) {
    .structure{
      height: auto;
      width: 100%;
      margin: auto;
    }
  }

.table{
  border: 2px solid black;
  text-align: center;
  margin-left: 20px;
  margin-right: 40px;
}

.spam{
  margin-top: 2rem;
  margin-right: 40px;
  margin-left: 4rem;
  border: 1px solid black;
  box-sizing: content-box;
  padding: 30px;
}
.c-img{
  width: 100%;
  height: 50vh;
}
@media (max-width: 999px) {
  .c-img{
    height: auto;
    width: 100%;
    margin: auto;
  }
}