*{
    margin: 0;
  padding: 0;
  box-sizing: border-box;
  }
.card-img-top{
   margin: 0px;
   width: 10px;
   border-radius: 30px;
   padding: 10px;
}

.card{
    /* width: 18rem; */
    display: flex;
    overflow: hidden;
    /* height: 200px; */
    /* flex-basis: 23%; */
   /* margin: 10px;
   margin-left: 20px; */
    box-shadow: 0px 0px 15px 5px;
    border-radius: 3px;

    align-items: center;
    transition: transform 500ms ease;
    
}
@media (prefers-reduced-motion: no-preference) {
    .card-img-top{
        height:50%;
        width: 100%;
    }
    .card-text{
        width: 100%;
        height: auto;
    }
    .card-title{
        height: auto;
        width: 100%;
    }
    .card{
        height: auto;
        width: 100%;
       
    }
  }
.card:hover{
transform: scale(1.1);
}
.card-text{
    font-size: 15px;
    /* padding: 10px; */
}
